.containerStyle {
  display: flex;
  height: 700px;
  max-width: 1600px;
  z-index: 999;
  /* margin: 0 auto; */
  flex-direction:row;
  background-color: #F4F7FA;
  font-family: "Open Sans",sans-serif;
}
.contentStyle{
  flex: 1;
  padding-left: 10%;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
  /*justifyContent: "space-around"*/
}
.headingOneStyle {
  text-align:left;
  padding-top: 20%;
  margin-right: 0;
  font-weight: bold;
  color: green;
  line-height: 1;
}
.myheadingTwo {
  text-align: left;
  margin-top: 10px;
  margin-left: 0;
  margin-right:5%;
  font-size: 60px ; 
  padding-top: 20%;
  font-weight: bold;
  line-height: 1;
  background-image: linear-gradient(to left, #3A92EE, #5146CA,#6015B2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.paragraghStyle {
  text-align: left;
  margin-top: 15px;
  margin-right: 20px;
  font-size: 1.25rem;
  padding-top: 10px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 50px;

};
.buttonStyle{
  margin-left: 0px;
  width: 150px;
}
.imageStyle {
  flex: 1;
  display: flex;
  /* width: 100%; */
  /* justify-content: center;  */
  /* align-items:center; */
}
.imgContainerStyle {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 20%;
  margin-left: 130px;
  margin-right: 50px;
  /* border: 1px solid black; */
}

/* .circleImageContainer {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
   */
  .circle-image {
    width: 85%;
    height: auto;
    object-fit: fill;
  }

  @media(max-width: 1300px){
  .containerStyle{
    flex-direction: column;
    height:min-content; 
  }
  .imgContainerStyle{
    width: 70%;
    align-items: center;
    justify-items: center;
    margin: 5% 25%;
  }
  .paragraghStyle {
    text-align: "center";
    margin-right:5%; 
}
  }
/* For mobile device */
  @media(max-width: 768px){
    .containerStyle{
      height: auto;
      flex-direction: column;
    }
    .headingOneStyle{
      text-align: center;
      margin-right:100px;
    }
    .headingTwoStyle{
      text-align: center;
      margin-right:100px;
    }
}
