@media only screen and (max-width: 500px) {
  #navRes {
    display: none;
  }
  #itemNav {
    display: none;
  }
}

.navFix {
  position: fixed;
  /* overflow: hidden; */
  top: 0;
  z-index: 20;
  width: 100%;
}
.btnRes {
  background-color: blue;
}
.logo {
  padding-top: 0px;
  width:auto;
  height: 80px; 
}
.logo img{
  width: 100%;
  height: 100%;
}
@media (min-width: 1232px) {
  .navFix .Hamburger {
    display: none;
  }
}

/* Add this media query to target screens with width less than 1232px */
@media (max-width: 1232px) {
  .navFix .btnRes,
  .navFix #contactBtn {
    display: none;
  }

  /* Show the hamburger icon when screen size is less than 1232px */
  .navFix .Hamburger {
    display: flex;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: black; */
    background-color: rgba(255, 255, 255, 1);
    /* overflow-x: hidden; */
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  .overlay a:hover, .overlay a:focus {
    color: black;
  }
  .overlay.active {
    height: 100%;
  }
}

@media (max-width: 800px) {
  #contactBtn {
    display: none;
  }
}

