.Services {
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
}
.content-container {
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  padding: 0% 2%;
}
.headingOne {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bolder;
}
.contentOne {
  text-align: center;
  font-size: 20px;
  color: rgb(129, 131, 125);
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px; */
  justify-content: center;
}
.box {
  width: 23%;
  height: 350px;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  word-wrap: break-word;
  padding: 50px 10px;
  /* padding-top: 50px;
    padding-bottom: 50px; */
  margin: 12px;
}
.boxContainer {
  display: flex;
  /* -right:auto; */
  /* margin-top: 30px; */
  /* align-items:flex-end; */
  /* flex-wrap: nowrap; */
}
.smallBox {
  width: 60px;
  height: 60px;
  border: 1px solid lightgrey;
  display: flex;
  /* align-self: center; */
  margin-right: 15px;
  padding: 5px;
}
.boxContent {
  /* margin-right:10px; */
  margin-left: 20px;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* height: 30px; */
}
.headingTwo {
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
  font-weight: semi-bold;
  font-size: 22px;
  height: 50px;
}
.contentTwo {
  color: rgb(129, 131, 125);
  height: 120px;
  box-sizing: border-box;
  /* margin-top: 10px; */
  margin-bottom: 0%;
}

@media (max-width: 1355px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* margin: 20px; */
  }
  .box {
    display: flex;
    width: min-content;
    padding-right: 5px;
  }
  .boxContent {
    height: 100px;
    /* margin: 0 10px; */
  }
  .boxContainer {
    align-self: flex-start;
    margin: 2% 0px;
  }
}
@media (max-width: 992px) {
  .box {
    width: 100%;
    height: 300px;
  }
  .boxContent {
    padding: auto 5px;
  }
  .contentTwo{
    height: 90px;
  }
}

